ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCnky84WE0uq/zgi7xZKC/LPK96xQ995KIjUI8fSAsjl9rdU0csQeShCl/vZ7lxUGRsvKQE+4oegre7s3tTTPMBr9LSFj7ZhHZZ/6Dn0ry1b0tH/yFxeSq2Y22EzfYBS++6cNihsQe4Pyg8sq3fIxbHXx5cbcBbCv1erBg2LMn/ZS+lK3QbizLNrw8cV+8bx1nxyEkXqXZJS32YaxXx6vaUOp2q18nvYEAXE+eNtBB1/tc8sKoxBGV41JwBxlzEg92HT4UrlWC8VxSxF8GryPBZogvwCJAZz3wKITr1Ybmoyg+NensnLemuD/n6nA32ucDc5OQVzafGTfwtRQ+sjcIz root@cwp-1.novalocal
