{
        "auths": {
                "harbor.oneitfarm.com": {
                        "auth": "YWRtaW46cGhwZGJhY2kxMjM="
                },
                "registry-internal.cn-hangzhou.aliyuncs.com": {
                        "auth": "bmFuamluZ3J1eXVlOmNpMTIzYXNkZg=="
                },
                "registry-internal.cn-shanghai.aliyuncs.com": {
                        "auth": "bmFuamluZ3J1eXVlOmNpMTIzYXNkZg=="
                },
                "registry-vpc.cn-hangzhou.aliyuncs.com": {
                        "auth": "bmFuamluZ3J1eXVlOmNpMTIzYXNkZg=="
                },
                "registry-vpc.cn-shanghai.aliyuncs.com": {
                        "auth": "bmFuamluZ3J1eXVlOmNpMTIzYXNkZg=="
                },
                "registry.cn-hangzhou.aliyuncs.com": {
                        "auth": "bmFuamluZ3J1eXVlOmNpMTIzYXNkZg=="
                },
                "registry.cn-shanghai.aliyuncs.com": {
                        "auth": "bmFuamluZ3J1eXVlOmNpMTIzYXNkZg=="
                }
        }
}
